body {
    font-size: 14px;
    line-height: 160%;
    font-family: "Urbanist", "Arial", sans-serif;
    font-weight:400;
    color: #fafafc;
}

.header-basic {
    background: #0D0D11;
    border-bottom: 1px solid #0D0D11;
    padding: 12px 255px;
}

.nav-heading {}

.list-nav {
    list-style-type: none;
}

.item-nav {
    border-radius: 6px;
    padding: 8px 10px 8px 12px;
}

.limk-nav {    
    font-weight: 700;
    font-size: 18px;
    line-height: 90%;
    text-transform: capitalize;
    color: #fafafc;    
}

.search {
    border-radius: 24px;
    padding: 14px;
}

.button-basic {
    border: 1px solid #4B50E6;
    border-radius: 23px;
    padding: 14px 24px;    
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #fafafc;
}

.main-section {}

.hero-section {
    background-image: url('images/main-banner-illustration.png');
    background-size: cover;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.main-section {
    font-weight: 700;
    font-size: 76px;
    line-height: 100%;
    color: #fafafc;
}

.main-heading {
    font-weight: 700;
    font-size: 76px;
    line-height: 100%;
    color: #fafafc;
}

.paragraph-default {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-transform: capitalize;
    color: #fafafc;
}

.big-img {
    width: 580px;
    height: 580px;
}

.list {}

.cards-text {}

.item-logo {}

.element {}

.element-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.element-discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #fff;
}

.carousel {
    padding: 60px 0px;
}

.block-headibg {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: capitalize;
    color: #fff;
}

.list-expansion {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.list-visual {}

.cards-visual {
    border-radius: 20px;
    padding: 20px;
}

.visualization-simple {}

.text-time {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: #fff;
}

.button-favorites {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: #fff;
}

.logo-mini {}

.redirect {}

.carousel-control {}

.button-carousel {
    border-radius: 100%;
}

.section-list {
    padding: 60px 255px;
}

.visualization-difficult {}

.without-visualization {
    padding: 60px 255px;
    background: #0d0d11;
}

.list {}

.information {
    padding: 60px 255px;
}

.icon-social {
    border-radius: 8px;
    padding: 9px;
    background: #343444;
}

.section-navigation {}

.list-link {}

.block-headibg {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
}

.list-text {}

.item-text {}

.link-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #fff;
}

/* catalog.html */

.introductory-navigation {
    background-image: url("/images/main-banner-illustration.png");
    filter: blur(10px);
    mix-blend-mode: color-dodge;
}

.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.bread-crumbs {}

.item-bread-crumbs {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-transform: capitalize;
    color: #8a8aa0;
}

/* catalog-item.html */


.item-full-info {
    padding: 60px 255px;
    background: #1c1c28;
}

.visualization-simple-basic {
    border-radius: 20px;
}

.title-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: capitalize;
    color: #fff;
}

.button-viewing {
    border-radius: 40px;
    padding: 7px 14px;
    background: #1c1c28;
}

.send {}

.item-send {
    border-radius: 18px;
    padding: 10px;
    background: #1c1c28;
}

.application {}

.icon-system {
    border-radius: 12px;
}

.button-big {
    border: 2px solid #5142fc;
    border-radius: 30px;
    padding: 16px 36px;
}

.more-information {
    border-bottom: 2px solid #1f1f2c;
}

.item-more-information {
    padding: 0px 12px;
}

.item-restoran {
    border-radius: 6px;
    padding: 12px;
    background: #1c1c28;
}

.list-product {}

.type-of-product {
    border-radius: 6px;
    padding: 12px 16px;
    background: #343444;
}

.list-burger {}

.item-burger {
    border-radius: 6px;
    padding: 12px;
    background: #343444;
}